{{ define "title" }} {{- .Title -}} {{ end }} {{ define "main" }}
<main
  class="
    object-contain
    lg:container
    mx-auto
  "
>
  <h2 class="text-3xl mt-5">Articles:</h2>
  <ul>
    <ul class="flex flex-wrap align-middle">
      {{ range .Pages.ByDate }}
      <li
        class="
          flex
          w-2/6
          max-w-2xl
          m-5
          justify-center
          items-stretch
          flex-grow flex-col
          text-center
          bg-white
          shadow-md
        "
      >
        <h3>
          <a
            class="
              text-5xl
              sm:text-lg
              flex
              justify-center
              items-center
              object-contain
              text-gray-50
              hover:text-gray-200
            "
            style="min-height: 20vh;background-image: url({{.Params.hero}}); text-shadow:1px 1px 2px gray;"
            href="{{ .Permalink }}"
            >{{ .Title }}</a
          >
        </h3>
      </li>
      {{ end }}
    </ul>
  </ul>
</main>
{{ end }}
