<h2 class="text-3xl mt-5">Tags:</h2>

<div id="theme-tagcloud" class="
w-2/6
max-w-2xl
m-5
shadow-md
border flex flex-wrap justify-around items-stretch	
  " style="margin-bottom: 15px;">

  {{ $sl := (slice) }}
  {{ range $name, $_ := ($.Site.Taxonomies.tags) }}
  {{ $sl = $sl | append $name }}
  {{ end }}

  {{ range $name := $sl | shuffle }}

  {{ $taxonomy := index $.Site.Taxonomies.tags ($name ) }}

  {{ $count := len $taxonomy.Pages }}

  {{ $data := newScratch }}
  {{ $data.Set "fs" "text-xs" }}

  {{ if gt $count 1 }}
  {{ $data.Set "fs" "text-base" }}
  {{ end }}
  {{ if gt $count 3 }}
  {{ $data.Set "fs" "text-xl" }}
  {{ end }}
  {{ if gt $count 5 }}
  {{ $data.Set "fs" "text-3xl" }}
  {{ end }}
  <a class='{{ $data.Get "fs" }}' href="tags/{{$name}}"
    style="text-transform: uppercase; font-size: 12px; padding-right: 5px; padding-left: 5px;">
    {{
    $name }} <span>({{ $count }})</span></a>
  {{end}}
</div>